#Change this 3 value according to your toolchain
#Leave blank if you use the default gcc of your system

ARCH="arm"
TOOLCHAIN_PATH="../toolchain/"
TOOLCHAIN_PRFIX="arm-linux-gnueabihf-"
SYSROOT="../buildroot/output/host/"
